@model KeywordViewModel
<div class="col-lg-3 col-md-6">
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-subtitle mb-2 text-muted">
                <a href="/Keyword/Index?fileId=@Model.FileId" title="View keywords from the same file">
                    <i class="fas fa-file-csv"></i></a>
                @Model.FileName
            </p>
            @if(Model.ParsingStatus == ParsingStatus.Pending){
                <span>
                    <i class="fas fa-hourglass-start"></i> 
                    Be patient, a robot will soon handle this keyword!
                </span>
            }
            else if(Model.ParsingStatus == ParsingStatus.Succeed){
                <span>
                    <i class="fas fa-check"></i>
                    Parsed 
                    @if(Model.ParsedDate.HasValue){
                        @(string.Format("({0} {1})", Model.ParsedDate.Value.ToString("d"),Model.ParsedDate.Value.ToString("t")))
                    }
                </span>
            }
            else if(Model.ParsingStatus == ParsingStatus.Failed){
                <span class="text-danger">
                    <i class="fas fa-exclamation-circle"></i>
                    Keyword not parsed.
                </span>
            }
            
            <p class="card-text">
                <b>Load:</b> @(Model.RequestDuration)ms
                <br />
                <b>Results:</b> @((Model.TotalThouthandResultsCount*1000).ToString("N0"))
                <br />
                <b>Links:</b> @Model.LinkCount
                <br />
                <b>AdWords:</b> @Model.AdWordsCount
            </p>
            <a href="/Keyword/Cached?keywordId=@Model.KeywordId" target="_blank" class="card-link"><i class="fas fa-external-link-alt"></i>&nbsp;View cached page</a>
        </div>
    </div>
</div>
